{% extends 'home.html' %}
{% block 'content' %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Add Medicine</h3>
            </div>
            <div class="card-body">
        <h2></h2>
        <form action="" method="post">
            {%csrf_token%}
            {{form.errors}}
            <div class="form-group">
                <label for="medicineName">Medicine Name:</label>
                <input type="text" class="form-control" id="medicineName" name="medicine_name" placeholder="Enter medicine name" required>
            </div>
            <div class="form-group">
                <label for="dosage">Dosage:</label>
                <input type="text" class="form-control" id="dosage" name="dosage" placeholder="Enter dosage" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description"placeholder="description" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Medicine</button>
        </form>
    </div>
    </div>
    </div>
    

{% endblock %}